/* css, masih awal project external */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-company {
                border: 1px;
                border-color:  forestgreen;
                height: 100px;
                width: 100px;
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXm-YRdMLuraIBmK79gWcx3c1Ys0AtPwmoRQ&amp;s);
                background-size: 100% 100%;
                border-radius: 50%; }
nav     {  
    display: flex; 
    }
nav > a     {   text-decoration: none;
                color: black;
                border: 1px solid;
                padding: 15px;
                border-radius: 8px;}
.no-border-radius {
    border-radius: 0px;}

.no-border-radius-left{
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;
}

.no-border-radius-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
}
.main-content{ 
    display: flex;
    gap: 20px;
}
.main-container   {
    border: 1px solid;
    height: 400px;
  }
    #main-container-1st {
        flex: 3;
}
    #main-container-2nd{
        flex:2;
}
    #our-package-section>header{height: 200px;
    text-align: center;
    align-content: center;
    background-color: palegreen;

    }
    .our-package-contain{   
        border: 1px solid;
        height: 300px;
    }

            