/* css, masih awal project external */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-company {
                border: 1px;
                border-color:  forestgreen;
                height: 100px;
                width: 100px;
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXm-YRdMLuraIBmK79gWcx3c1Ys0AtPwmoRQ&amp;s);
                background-size: 100% 100%;
                border-radius: 50%; }
nav     {  
    display: flex; 
    }
nav > a     {   text-decoration: none;
                color: black;
                border: 1px solid;
                padding: 15px;
                border-radius: 8px;}
.no-border-radius {
    border-radius: 0px;}

.no-border-radius-left{
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;
}

.no-border-radius-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
}
